# Dependencies
node_modules/
packages/*/node_modules/

# Security & Environment
.env
.env.*
prompt.txt

# Databases
packages/server/prisma/*.db
packages/server/prisma/*.db-journal

# Build & Logs
dist/
build/
web-build/
.expo/
*.log
npm-debug.log*

# System & IDE
.vscode/
.idea/
.DS_Store
Thumbs.db